@charset "UTF-8";

@font-face {
	font-family: "fontastic";
	src:url("fontastic.eot");
	src:url("fontastic.eot?#iefix") format("embedded-opentype"),
		url("fontastic.woff") format("woff"),
		url("fontastic.ttf") format("truetype"),
		url("fontastic.svg#fontastic") format("svg");
	font-weight: normal;
	font-style: normal;

}

[data-icon]:before {
	position: relative;
	font-family: "fontastic" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	top: 1px;
	display: inline-block;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontastic" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-streamline-target:before {
	content: "b";
}
.icon-caddie-shopping-streamline:before {
	content: "c";
}
.icon-camera-photo-polaroid-streamline:before {
	content: "d";
}
.icon-address-book:before {
	content: "a";
}
.icon-alert:before {
	content: "e";
}
.icon-align-center:before {
	content: "f";
}
.icon-align-justify:before {
	content: "g";
}
.icon-align-left:before {
	content: "h";
}
.icon-align-right:before {
	content: "i";
}
.icon-anchor:before {
	content: "j";
}
.icon-annotate:before {
	content: "k";
}
.icon-archive:before {
	content: "l";
}
.icon-arrow-down:before {
	content: "m";
}
.icon-arrow-left:before {
	content: "n";
}
.icon-arrow-right:before {
	content: "o";
}
.icon-arrow-up:before {
	content: "p";
}
.icon-arrows-compress:before {
	content: "q";
}
.icon-arrows-expand:before {
	content: "r";
}
.icon-arrows-in:before {
	content: "s";
}
.icon-arrows-out:before {
	content: "t";
}
.icon-asl:before {
	content: "u";
}
.icon-asterisk:before {
	content: "v";
}
.icon-at-sign:before {
	content: "w";
}
.icon-background-color:before {
	content: "x";
}
.icon-battery-empty:before {
	content: "y";
}
.icon-battery-full:before {
	content: "z";
}
.icon-battery-half:before {
	content: "A";
}
.icon-bitcoin:before {
	content: "B";
}
.icon-bitcoin-circle:before {
	content: "C";
}
.icon-blind:before {
	content: "D";
}
.icon-bluetooth:before {
	content: "E";
}
.icon-bold:before {
	content: "F";
}
.icon-book:before {
	content: "G";
}
.icon-book-bookmark:before {
	content: "H";
}
.icon-bookmark:before {
	content: "I";
}
.icon-braille:before {
	content: "J";
}
.icon-burst:before {
	content: "K";
}
.icon-burst-new:before {
	content: "L";
}
.icon-burst-sale:before {
	content: "M";
}
.icon-calendar:before {
	content: "N";
}
.icon-camera:before {
	content: "O";
}
.icon-check:before {
	content: "P";
}
.icon-checkbox:before {
	content: "Q";
}
.icon-clipboard:before {
	content: "R";
}
.icon-clipboard-notes:before {
	content: "S";
}
.icon-clipboard-pencil:before {
	content: "T";
}
.icon-clock:before {
	content: "U";
}
.icon-closed-caption:before {
	content: "V";
}
.icon-cloud:before {
	content: "W";
}
.icon-comment:before {
	content: "X";
}
.icon-comment-minus:before {
	content: "Y";
}
.icon-comment-quotes:before {
	content: "Z";
}
.icon-comment-video:before {
	content: "0";
}
.icon-comments:before {
	content: "1";
}
.icon-compass:before {
	content: "2";
}
.icon-contrast:before {
	content: "3";
}
.icon-credit-card:before {
	content: "4";
}
.icon-crop:before {
	content: "5";
}
.icon-crown:before {
	content: "6";
}
.icon-css3:before {
	content: "7";
}
.icon-database:before {
	content: "8";
}
.icon-die-five:before {
	content: "9";
}
.icon-die-four:before {
	content: "!";
}
.icon-die-one:before {
	content: "\";
}
.icon-die-six:before {
	content: "#";
}
.icon-die-three:before {
	content: "$";
}
.icon-die-two:before {
	content: "%";
}
.icon-dislike:before {
	content: "&";
}
.icon-dollar:before {
	content: "'";
}
.icon-dollar-bill:before {
	content: "(";
}
.icon-download:before {
	content: ")";
}
.icon-eject:before {
	content: "*";
}
.icon-elevator:before {
	content: "+";
}
.icon-euro:before {
	content: ",";
}
.icon-eye:before {
	content: "-";
}
.icon-fast-forward:before {
	content: ".";
}
.icon-female:before {
	content: "/";
}
.icon-female-symbol:before {
	content: ":";
}
.icon-filter:before {
	content: ";";
}
.icon-first-aid:before {
	content: "<";
}
.icon-flag:before {
	content: "=";
}
.icon-folder:before {
	content: ">";
}
.icon-folder-add:before {
	content: "?";
}
.icon-folder-lock:before {
	content: "@";
}
.icon-foot:before {
	content: "[";
}
.icon-foundation:before {
	content: "]";
}
.icon-graph-bar:before {
	content: "^";
}
.icon-graph-horizontal:before {
	content: "_";
}
.icon-graph-pie:before {
	content: "`";
}
.icon-graph-trend:before {
	content: "{";
}
.icon-guide-dog:before {
	content: "|";
}
.icon-hearing-aid:before {
	content: "}";
}
.icon-heart:before {
	content: "~";
}
.icon-home:before {
	content: "\"";
}
.icon-html5:before {
	content: "\e000";
}
.icon-indent-less:before {
	content: "\e001";
}
.icon-indent-more:before {
	content: "\e002";
}
.icon-info:before {
	content: "\e003";
}
.icon-italic:before {
	content: "\e004";
}
.icon-key:before {
	content: "\e005";
}
.icon-laptop:before {
	content: "\e006";
}
.icon-layout:before {
	content: "\e007";
}
.icon-lightbulb:before {
	content: "\e008";
}
.icon-like:before {
	content: "\e009";
}
.icon-link:before {
	content: "\e00a";
}
.icon-list:before {
	content: "\e00b";
}
.icon-list-bullet:before {
	content: "\e00c";
}
.icon-list-number:before {
	content: "\e00d";
}
.icon-list-thumbnails:before {
	content: "\e00e";
}
.icon-lock:before {
	content: "\e00f";
}
.icon-loop:before {
	content: "\e010";
}
.icon-magnifying-glass:before {
	content: "\e011";
}
.icon-mail:before {
	content: "\e012";
}
.icon-male:before {
	content: "\e013";
}
.icon-male-female:before {
	content: "\e014";
}
.icon-male-symbol:before {
	content: "\e015";
}
.icon-map:before {
	content: "\e016";
}
.icon-marker:before {
	content: "\e017";
}
.icon-megaphone:before {
	content: "\e018";
}
.icon-microphone:before {
	content: "\e019";
}
.icon-minus:before {
	content: "\e01a";
}
.icon-minus-circle:before {
	content: "\e01b";
}
.icon-mobile:before {
	content: "\e01c";
}
.icon-mobile-signal:before {
	content: "\e01d";
}
.icon-monitor:before {
	content: "\e01e";
}
.icon-mountains:before {
	content: "\e01f";
}
.icon-music:before {
	content: "\e020";
}
.icon-next:before {
	content: "\e021";
}
.icon-no-dogs:before {
	content: "\e022";
}
.icon-no-smoking:before {
	content: "\e023";
}
.icon-page:before {
	content: "\e024";
}
.icon-page-add:before {
	content: "\e025";
}
.icon-page-copy:before {
	content: "\e026";
}
.icon-page-csv:before {
	content: "\e027";
}
.icon-page-delete:before {
	content: "\e028";
}
.icon-page-doc:before {
	content: "\e029";
}
.icon-page-edit:before {
	content: "\e02a";
}
.icon-page-export:before {
	content: "\e02b";
}
.icon-page-export-csv:before {
	content: "\e02c";
}
.icon-page-export-doc:before {
	content: "\e02d";
}
.icon-page-export-pdf:before {
	content: "\e02e";
}
.icon-page-filled:before {
	content: "\e02f";
}
.icon-page-multiple:before {
	content: "\e030";
}
.icon-page-pdf:before {
	content: "\e031";
}
.icon-page-remove:before {
	content: "\e032";
}
.icon-page-search:before {
	content: "\e033";
}
.icon-paint-bucket:before {
	content: "\e034";
}
.icon-paperclip:before {
	content: "\e035";
}
.icon-pause:before {
	content: "\e036";
}
.icon-paw:before {
	content: "\e037";
}
.icon-paypal:before {
	content: "\e038";
}
.icon-pencil:before {
	content: "\e039";
}
.icon-photo:before {
	content: "\e03a";
}
.icon-play:before {
	content: "\e03b";
}
.icon-play-circle:before {
	content: "\e03c";
}
.icon-play-video:before {
	content: "\e03d";
}
.icon-plus:before {
	content: "\e03e";
}
.icon-pound:before {
	content: "\e03f";
}
.icon-power:before {
	content: "\e040";
}
.icon-previous:before {
	content: "\e041";
}
.icon-price-tag:before {
	content: "\e042";
}
.icon-pricetag-multiple:before {
	content: "\e043";
}
.icon-print:before {
	content: "\e044";
}
.icon-prohibited:before {
	content: "\e045";
}
.icon-projection-screen:before {
	content: "\e046";
}
.icon-puzzle:before {
	content: "\e047";
}
.icon-quote:before {
	content: "\e048";
}
.icon-record:before {
	content: "\e049";
}
.icon-refresh:before {
	content: "\e04a";
}
.icon-results:before {
	content: "\e04b";
}
.icon-results-demographics:before {
	content: "\e04c";
}
.icon-rewind:before {
	content: "\e04d";
}
.icon-rewind-ten:before {
	content: "\e04e";
}
.icon-rss:before {
	content: "\e04f";
}
.icon-safety-cone:before {
	content: "\e050";
}
.icon-save:before {
	content: "\e051";
}
.icon-share:before {
	content: "\e052";
}
.icon-sheriff-badge:before {
	content: "\e053";
}
.icon-shield:before {
	content: "\e054";
}
.icon-shopping-bag:before {
	content: "\e055";
}
.icon-shopping-cart:before {
	content: "\e056";
}
.icon-shuffle:before {
	content: "\e057";
}
.icon-skull:before {
	content: "\e058";
}
.icon-social-500px:before {
	content: "\e059";
}
.icon-social-adobe:before {
	content: "\e05a";
}
.icon-social-amazon:before {
	content: "\e05b";
}
.icon-social-android:before {
	content: "\e05c";
}
.icon-social-apple:before {
	content: "\e05d";
}
.icon-social-behance:before {
	content: "\e05e";
}
.icon-social-bing:before {
	content: "\e05f";
}
.icon-social-blogger:before {
	content: "\e060";
}
.icon-social-delicious:before {
	content: "\e061";
}
.icon-social-designer-news:before {
	content: "\e062";
}
.icon-social-deviant-art:before {
	content: "\e063";
}
.icon-social-digg:before {
	content: "\e064";
}
.icon-social-dribbble:before {
	content: "\e065";
}
.icon-social-drive:before {
	content: "\e066";
}
.icon-social-dropbox:before {
	content: "\e067";
}
.icon-social-evernote:before {
	content: "\e068";
}
.icon-social-facebook:before {
	content: "\e069";
}
.icon-social-flickr:before {
	content: "\e06a";
}
.icon-social-forrst:before {
	content: "\e06b";
}
.icon-social-foursquare:before {
	content: "\e06c";
}
.icon-social-game-center:before {
	content: "\e06d";
}
.icon-social-github:before {
	content: "\e06e";
}
.icon-social-google-plus:before {
	content: "\e06f";
}
.icon-social-hacker-news:before {
	content: "\e070";
}
.icon-social-hi5:before {
	content: "\e071";
}
.icon-social-instagram:before {
	content: "\e072";
}
.icon-social-joomla:before {
	content: "\e073";
}
.icon-social-lastfm:before {
	content: "\e074";
}
.icon-social-linkedin:before {
	content: "\e075";
}
.icon-social-medium:before {
	content: "\e076";
}
.icon-social-myspace:before {
	content: "\e077";
}
.icon-social-orkut:before {
	content: "\e078";
}
.icon-social-path:before {
	content: "\e079";
}
.icon-social-picasa:before {
	content: "\e07a";
}
.icon-social-pinterest:before {
	content: "\e07b";
}
.icon-social-rdio:before {
	content: "\e07c";
}
.icon-social-reddit:before {
	content: "\e07d";
}
.icon-social-skillshare:before {
	content: "\e07e";
}
.icon-social-skype:before {
	content: "\e07f";
}
.icon-social-smashing-mag:before {
	content: "\e080";
}
.icon-social-snapchat:before {
	content: "\e081";
}
.icon-social-spotify:before {
	content: "\e082";
}
.icon-social-squidoo:before {
	content: "\e083";
}
.icon-social-stack-overflow:before {
	content: "\e084";
}
.icon-social-steam:before {
	content: "\e085";
}
.icon-social-stumbleupon:before {
	content: "\e086";
}
.icon-social-treehouse:before {
	content: "\e087";
}
.icon-social-tumblr:before {
	content: "\e088";
}
.icon-social-twitter:before {
	content: "\e089";
}
.icon-social-vimeo:before {
	content: "\e08a";
}
.icon-social-windows:before {
	content: "\e08b";
}
.icon-social-xbox:before {
	content: "\e08c";
}
.icon-social-yahoo:before {
	content: "\e08d";
}
.icon-social-yelp:before {
	content: "\e08e";
}
.icon-social-youtube:before {
	content: "\e08f";
}
.icon-social-zerply:before {
	content: "\e090";
}
.icon-social-zurb:before {
	content: "\e091";
}
.icon-sound:before {
	content: "\e092";
}
.icon-star:before {
	content: "\e093";
}
.icon-stop:before {
	content: "\e094";
}
.icon-strikethrough:before {
	content: "\e095";
}
.icon-subscript:before {
	content: "\e096";
}
.icon-superscript:before {
	content: "\e097";
}
.icon-tablet-landscape:before {
	content: "\e098";
}
.icon-tablet-portrait:before {
	content: "\e099";
}
.icon-target:before {
	content: "\e09a";
}
.icon-target-two:before {
	content: "\e09b";
}
.icon-telephone:before {
	content: "\e09c";
}
.icon-telephone-accessible:before {
	content: "\e09d";
}
.icon-text-color:before {
	content: "\e09e";
}
.icon-thumbnails:before {
	content: "\e09f";
}
.icon-ticket:before {
	content: "\e0a0";
}
.icon-torso:before {
	content: "\e0a1";
}
.icon-torso-business:before {
	content: "\e0a2";
}
.icon-torso-female:before {
	content: "\e0a3";
}
.icon-torsos:before {
	content: "\e0a4";
}
.icon-torsos-all:before {
	content: "\e0a5";
}
.icon-torsos-all-female:before {
	content: "\e0a6";
}
.icon-torsos-female-male:before {
	content: "\e0a7";
}
.icon-torsos-male-female:before {
	content: "\e0a8";
}
.icon-trash:before {
	content: "\e0a9";
}
.icon-trees:before {
	content: "\e0aa";
}
.icon-trophy:before {
	content: "\e0ab";
}
.icon-underline:before {
	content: "\e0ac";
}
.icon-universal-access:before {
	content: "\e0ad";
}
.icon-unlink:before {
	content: "\e0ae";
}
.icon-unlock:before {
	content: "\e0af";
}
.icon-upload:before {
	content: "\e0b0";
}
.icon-upload-cloud:before {
	content: "\e0b1";
}
.icon-usb:before {
	content: "\e0b2";
}
.icon-video:before {
	content: "\e0b3";
}
.icon-volume:before {
	content: "\e0b4";
}
.icon-volume-none:before {
	content: "\e0b5";
}
.icon-volume-strike:before {
	content: "\e0b6";
}
.icon-web:before {
	content: "\e0b7";
}
.icon-wheelchair:before {
	content: "\e0b8";
}
.icon-widget:before {
	content: "\e0b9";
}
.icon-wrench:before {
	content: "\e0ba";
}
.icon-x:before {
	content: "\e0bb";
}
.icon-x-circle:before {
	content: "\e0bc";
}
.icon-yen:before {
	content: "\e0bd";
}
.icon-zoom-in:before {
	content: "\e0be";
}
.icon-zoom-out:before {
	content: "\e0bf";
}
.icon-fontawesome-webfont:before {
	content: "\e0c0";
}
.icon-fontawesome-webfont-1:before {
	content: "\e0c1";
}
.icon-fontawesome-webfont-2:before {
	content: "\e0c2";
}
.icon-fontawesome-webfont-3:before {
	content: "\e0c3";
}
.icon-fontawesome-webfont-4:before {
	content: "\e0c4";
}
.icon-fontawesome-webfont-5:before {
	content: "\e0c5";
}
.icon-fontawesome-webfont-6:before {
	content: "\e0c6";
}
.icon-fontawesome-webfont-7:before {
	content: "\e0c7";
}
.icon-fontawesome-webfont-8:before {
	content: "\e0c8";
}
.icon-fontawesome-webfont-9:before {
	content: "\e0c9";
}
.icon-fontawesome-webfont-10:before {
	content: "\e0ca";
}
.icon-fontawesome-webfont-11:before {
	content: "\e0cb";
}
.icon-fontawesome-webfont:before {
	content: "\e0c0";
}
.icon-fontawesome-webfont-1:before {
	content: "\e0c1";
}
.icon-fontawesome-webfont-2:before {
	content: "\e0c2";
}
.icon-fontawesome-webfont-3:before {
	content: "\e0c3";
}
.icon-fontawesome-webfont-4:before {
	content: "\e0c4";
}
.icon-fontawesome-webfont-5:before {
	content: "\e0c5";
}
.icon-fontawesome-webfont-6:before {
	content: "\e0c6";
}
.icon-fontawesome-webfont-7:before {
	content: "\e0c7";
}
.icon-fontawesome-webfont-8:before {
	content: "\e0c8";
}
.icon-fontawesome-webfont-9:before {
	content: "\e0c9";
}
.icon-fontawesome-webfont-10:before {
	content: "\e0ca";
}
.icon-fontawesome-webfont-11:before {
	content: "\e0cb";
}
.icon-fontawesome-webfont-12:before {
	content: "\e0cc";
}
.icon-fontawesome-webfont-13:before {
	content: "\e0cd";
}
.icon-fontawesome-webfont-14:before {
	content: "\e0ce";
}
.icon-fontawesome-webfont-15:before {
	content: "\e0cf";
}
.icon-fontawesome-webfont-16:before {
	content: "\e0d0";
}
.icon-fontawesome-webfont-17:before {
	content: "\e0d1";
}
.icon-fontawesome-webfont-18:before {
	content: "\e0d2";
}
.icon-fontawesome-webfont-19:before {
	content: "\e0d3";
}
.icon-fontawesome-webfont-20:before {
	content: "\e0d4";
}
.icon-fontawesome-webfont-21:before {
	content: "\e0d5";
}
.icon-fontawesome-webfont-22:before {
	content: "\e0d6";
}
.icon-fontawesome-webfont-23:before {
	content: "\e0d7";
}
.icon-fontawesome-webfont-24:before {
	content: "\e0d8";
}
.icon-fontawesome-webfont-25:before {
	content: "\e0d9";
}
.icon-fontawesome-webfont-26:before {
	content: "\e0da";
}
.icon-fontawesome-webfont-27:before {
	content: "\e0db";
}
.icon-fontawesome-webfont-28:before {
	content: "\e0dc";
}
.icon-fontawesome-webfont-29:before {
	content: "\e0dd";
}
.icon-fontawesome-webfont-30:before {
	content: "\e0de";
}
.icon-fontawesome-webfont-31:before {
	content: "\e0df";
}
.icon-fontawesome-webfont-32:before {
	content: "\e0e0";
}
.icon-fontawesome-webfont-33:before {
	content: "\e0e1";
}
.icon-fontawesome-webfont-34:before {
	content: "\e0e2";
}
.icon-fontawesome-webfont-35:before {
	content: "\e0e3";
}
.icon-fontawesome-webfont-36:before {
	content: "\e0e4";
}
.icon-fontawesome-webfont-37:before {
	content: "\e0e5";
}
.icon-fontawesome-webfont-38:before {
	content: "\e0e6";
}
.icon-fontawesome-webfont-39:before {
	content: "\e0e7";
}
.icon-fontawesome-webfont-40:before {
	content: "\e0e8";
}
.icon-fontawesome-webfont-41:before {
	content: "\e0e9";
}
.icon-fontawesome-webfont-42:before {
	content: "\e0ea";
}
.icon-fontawesome-webfont-43:before {
	content: "\e0eb";
}
.icon-fontawesome-webfont-44:before {
	content: "\e0ec";
}
.icon-fontawesome-webfont-45:before {
	content: "\e0ed";
}
.icon-fontawesome-webfont-46:before {
	content: "\e0ee";
}
.icon-fontawesome-webfont-47:before {
	content: "\e0ef";
}
.icon-fontawesome-webfont-48:before {
	content: "\e0f0";
}
.icon-fontawesome-webfont-49:before {
	content: "\e0f1";
}
.icon-fontawesome-webfont-50:before {
	content: "\e0f2";
}
.icon-fontawesome-webfont-51:before {
	content: "\e0f3";
}
.icon-fontawesome-webfont-52:before {
	content: "\e0f4";
}
.icon-fontawesome-webfont-53:before {
	content: "\e0f5";
}
.icon-fontawesome-webfont-54:before {
	content: "\e0f6";
}
.icon-fontawesome-webfont-55:before {
	content: "\e0f7";
}
.icon-fontawesome-webfont-56:before {
	content: "\e0f8";
}
.icon-fontawesome-webfont-57:before {
	content: "\e0f9";
}
.icon-fontawesome-webfont-58:before {
	content: "\e0fa";
}
.icon-fontawesome-webfont-59:before {
	content: "\e0fb";
}
.icon-fontawesome-webfont-60:before {
	content: "\e0fc";
}
.icon-fontawesome-webfont-61:before {
	content: "\e0fd";
}
.icon-fontawesome-webfont-62:before {
	content: "\e0fe";
}
.icon-fontawesome-webfont-63:before {
	content: "\e0ff";
}
.icon-fontawesome-webfont-64:before {
	content: "\e100";
}
.icon-fontawesome-webfont-65:before {
	content: "\e101";
}
.icon-fontawesome-webfont-66:before {
	content: "\e102";
}
.icon-fontawesome-webfont-67:before {
	content: "\e103";
}
.icon-fontawesome-webfont-68:before {
	content: "\e104";
}
.icon-fontawesome-webfont-69:before {
	content: "\e105";
}
.icon-fontawesome-webfont-70:before {
	content: "\e106";
}
.icon-fontawesome-webfont-71:before {
	content: "\e107";
}
.icon-fontawesome-webfont-72:before {
	content: "\e108";
}
.icon-fontawesome-webfont-73:before {
	content: "\e109";
}
.icon-fontawesome-webfont-74:before {
	content: "\e10a";
}
.icon-fontawesome-webfont-75:before {
	content: "\e10b";
}
.icon-fontawesome-webfont-76:before {
	content: "\e10c";
}
.icon-fontawesome-webfont-77:before {
	content: "\e10d";
}
.icon-fontawesome-webfont-78:before {
	content: "\e10e";
}
.icon-fontawesome-webfont-79:before {
	content: "\e10f";
}
.icon-fontawesome-webfont-80:before {
	content: "\e110";
}
.icon-fontawesome-webfont-81:before {
	content: "\e111";
}
.icon-fontawesome-webfont-82:before {
	content: "\e112";
}
.icon-fontawesome-webfont-83:before {
	content: "\e113";
}
.icon-fontawesome-webfont-84:before {
	content: "\e114";
}
.icon-fontawesome-webfont-85:before {
	content: "\e115";
}
.icon-fontawesome-webfont-86:before {
	content: "\e116";
}
.icon-fontawesome-webfont-87:before {
	content: "\e117";
}
.icon-fontawesome-webfont-88:before {
	content: "\e118";
}
.icon-fontawesome-webfont-89:before {
	content: "\e119";
}
.icon-fontawesome-webfont-90:before {
	content: "\e11a";
}
.icon-fontawesome-webfont-91:before {
	content: "\e11b";
}
.icon-fontawesome-webfont-92:before {
	content: "\e11c";
}
.icon-fontawesome-webfont-93:before {
	content: "\e11d";
}
.icon-fontawesome-webfont-94:before {
	content: "\e11e";
}
.icon-fontawesome-webfont-95:before {
	content: "\e11f";
}
.icon-fontawesome-webfont-96:before {
	content: "\e120";
}
.icon-fontawesome-webfont-97:before {
	content: "\e121";
}
.icon-fontawesome-webfont-98:before {
	content: "\e122";
}
.icon-fontawesome-webfont-99:before {
	content: "\e123";
}
.icon-fontawesome-webfont-100:before {
	content: "\e124";
}
.icon-fontawesome-webfont-101:before {
	content: "\e125";
}
.icon-fontawesome-webfont-102:before {
	content: "\e126";
}
.icon-fontawesome-webfont-103:before {
	content: "\e127";
}
.icon-fontawesome-webfont-104:before {
	content: "\e128";
}
.icon-fontawesome-webfont-105:before {
	content: "\e129";
}
.icon-fontawesome-webfont-106:before {
	content: "\e12a";
}
.icon-fontawesome-webfont-107:before {
	content: "\e12b";
}
.icon-fontawesome-webfont-108:before {
	content: "\e12c";
}
.icon-fontawesome-webfont-109:before {
	content: "\e12d";
}
.icon-fontawesome-webfont-110:before {
	content: "\e12e";
}
.icon-fontawesome-webfont-111:before {
	content: "\e12f";
}
.icon-fontawesome-webfont-112:before {
	content: "\e130";
}
.icon-fontawesome-webfont-113:before {
	content: "\e131";
}
.icon-fontawesome-webfont-114:before {
	content: "\e132";
}
.icon-fontawesome-webfont-115:before {
	content: "\e133";
}
.icon-fontawesome-webfont-116:before {
	content: "\e134";
}
.icon-fontawesome-webfont-117:before {
	content: "\e135";
}
.icon-fontawesome-webfont-118:before {
	content: "\e136";
}
.icon-fontawesome-webfont-119:before {
	content: "\e137";
}
.icon-fontawesome-webfont-120:before {
	content: "\e138";
}
.icon-fontawesome-webfont-121:before {
	content: "\e139";
}
.icon-fontawesome-webfont-122:before {
	content: "\e13a";
}
.icon-fontawesome-webfont-123:before {
	content: "\e13b";
}
.icon-fontawesome-webfont-124:before {
	content: "\e13c";
}
.icon-fontawesome-webfont-125:before {
	content: "\e13d";
}
.icon-fontawesome-webfont-126:before {
	content: "\e13e";
}
.icon-fontawesome-webfont-127:before {
	content: "\e13f";
}
.icon-fontawesome-webfont-128:before {
	content: "\e140";
}
.icon-fontawesome-webfont-129:before {
	content: "\e141";
}
.icon-fontawesome-webfont-130:before {
	content: "\e142";
}
.icon-fontawesome-webfont-131:before {
	content: "\e143";
}
.icon-fontawesome-webfont-132:before {
	content: "\e144";
}
.icon-fontawesome-webfont-133:before {
	content: "\e145";
}
.icon-fontawesome-webfont-134:before {
	content: "\e146";
}
.icon-fontawesome-webfont-135:before {
	content: "\e147";
}
.icon-fontawesome-webfont-136:before {
	content: "\e148";
}
.icon-fontawesome-webfont-137:before {
	content: "\e149";
}
.icon-fontawesome-webfont-138:before {
	content: "\e14a";
}
.icon-fontawesome-webfont-139:before {
	content: "\e14b";
}
.icon-fontawesome-webfont-140:before {
	content: "\e14c";
}
.icon-fontawesome-webfont-141:before {
	content: "\e14d";
}
.icon-fontawesome-webfont-142:before {
	content: "\e14e";
}
.icon-fontawesome-webfont-143:before {
	content: "\e14f";
}
.icon-fontawesome-webfont-144:before {
	content: "\e150";
}
.icon-fontawesome-webfont-145:before {
	content: "\e151";
}
.icon-fontawesome-webfont-146:before {
	content: "\e152";
}
.icon-fontawesome-webfont-147:before {
	content: "\e153";
}
.icon-fontawesome-webfont-148:before {
	content: "\e154";
}
.icon-fontawesome-webfont-149:before {
	content: "\e155";
}
.icon-fontawesome-webfont-150:before {
	content: "\e156";
}
.icon-fontawesome-webfont-151:before {
	content: "\e157";
}
.icon-fontawesome-webfont-152:before {
	content: "\e158";
}
.icon-fontawesome-webfont-153:before {
	content: "\e159";
}
.icon-fontawesome-webfont-154:before {
	content: "\e15a";
}
.icon-fontawesome-webfont-155:before {
	content: "\e15b";
}
.icon-fontawesome-webfont-156:before {
	content: "\e15c";
}
.icon-fontawesome-webfont-157:before {
	content: "\e15d";
}
.icon-fontawesome-webfont-158:before {
	content: "\e15e";
}
.icon-fontawesome-webfont-159:before {
	content: "\e15f";
}
.icon-fontawesome-webfont-160:before {
	content: "\e160";
}
.icon-fontawesome-webfont-161:before {
	content: "\e161";
}
.icon-fontawesome-webfont-162:before {
	content: "\e162";
}
.icon-fontawesome-webfont-163:before {
	content: "\e163";
}
.icon-fontawesome-webfont-164:before {
	content: "\e164";
}
.icon-fontawesome-webfont-165:before {
	content: "\e165";
}
.icon-fontawesome-webfont-166:before {
	content: "\e166";
}
.icon-fontawesome-webfont-167:before {
	content: "\e167";
}
.icon-fontawesome-webfont-168:before {
	content: "\e168";
}
.icon-fontawesome-webfont-169:before {
	content: "\e169";
}
.icon-fontawesome-webfont-170:before {
	content: "\e16a";
}
.icon-fontawesome-webfont-171:before {
	content: "\e16b";
}
.icon-fontawesome-webfont-172:before {
	content: "\e16c";
}
.icon-fontawesome-webfont-173:before {
	content: "\e16d";
}
.icon-fontawesome-webfont-174:before {
	content: "\e16e";
}
.icon-fontawesome-webfont-175:before {
	content: "\e16f";
}
.icon-fontawesome-webfont-176:before {
	content: "\e170";
}
.icon-fontawesome-webfont-177:before {
	content: "\e171";
}
.icon-fontawesome-webfont-178:before {
	content: "\e172";
}
.icon-fontawesome-webfont-179:before {
	content: "\e173";
}
.icon-fontawesome-webfont-180:before {
	content: "\e174";
}
.icon-fontawesome-webfont-181:before {
	content: "\e175";
}
.icon-fontawesome-webfont-182:before {
	content: "\e176";
}
.icon-fontawesome-webfont-183:before {
	content: "\e177";
}
.icon-fontawesome-webfont-184:before {
	content: "\e178";
}
.icon-fontawesome-webfont-185:before {
	content: "\e179";
}
.icon-fontawesome-webfont-186:before {
	content: "\e17a";
}
.icon-fontawesome-webfont-187:before {
	content: "\e17b";
}
.icon-fontawesome-webfont-188:before {
	content: "\e17c";
}
.icon-fontawesome-webfont-189:before {
	content: "\e17d";
}
.icon-fontawesome-webfont-190:before {
	content: "\e17e";
}
.icon-fontawesome-webfont-191:before {
	content: "\e17f";
}
.icon-fontawesome-webfont-192:before {
	content: "\e180";
}
.icon-fontawesome-webfont-193:before {
	content: "\e181";
}
.icon-fontawesome-webfont-194:before {
	content: "\e182";
}
.icon-fontawesome-webfont-195:before {
	content: "\e183";
}
.icon-fontawesome-webfont-196:before {
	content: "\e184";
}
.icon-fontawesome-webfont-197:before {
	content: "\e185";
}
.icon-fontawesome-webfont-198:before {
	content: "\e186";
}
.icon-fontawesome-webfont-199:before {
	content: "\e187";
}
.icon-fontawesome-webfont-200:before {
	content: "\e188";
}
.icon-fontawesome-webfont-201:before {
	content: "\e189";
}
.icon-fontawesome-webfont-202:before {
	content: "\e18a";
}
.icon-fontawesome-webfont-203:before {
	content: "\e18b";
}
.icon-fontawesome-webfont-204:before {
	content: "\e18c";
}
.icon-fontawesome-webfont-205:before {
	content: "\e18d";
}
.icon-fontawesome-webfont-206:before {
	content: "\e18e";
}
.icon-fontawesome-webfont-207:before {
	content: "\e18f";
}
.icon-fontawesome-webfont-208:before {
	content: "\e190";
}
.icon-fontawesome-webfont-209:before {
	content: "\e191";
}
.icon-fontawesome-webfont-210:before {
	content: "\e192";
}
.icon-fontawesome-webfont-211:before {
	content: "\e193";
}
.icon-fontawesome-webfont-212:before {
	content: "\e194";
}
.icon-fontawesome-webfont-213:before {
	content: "\e195";
}
.icon-fontawesome-webfont-214:before {
	content: "\e196";
}
.icon-fontawesome-webfont-215:before {
	content: "\e197";
}
.icon-fontawesome-webfont-216:before {
	content: "\e198";
}
.icon-fontawesome-webfont-217:before {
	content: "\e199";
}
.icon-fontawesome-webfont-218:before {
	content: "\e19a";
}
.icon-fontawesome-webfont-219:before {
	content: "\e19b";
}
.icon-fontawesome-webfont-220:before {
	content: "\e19c";
}
.icon-fontawesome-webfont-221:before {
	content: "\e19d";
}
.icon-fontawesome-webfont-222:before {
	content: "\e19e";
}
.icon-fontawesome-webfont-223:before {
	content: "\e19f";
}
.icon-fontawesome-webfont-224:before {
	content: "\e1a0";
}
.icon-fontawesome-webfont-225:before {
	content: "\e1a1";
}
.icon-fontawesome-webfont-226:before {
	content: "\e1a2";
}
.icon-fontawesome-webfont-227:before {
	content: "\e1a3";
}
.icon-fontawesome-webfont-228:before {
	content: "\e1a4";
}
.icon-fontawesome-webfont-229:before {
	content: "\e1a5";
}
.icon-fontawesome-webfont-230:before {
	content: "\e1a6";
}
.icon-fontawesome-webfont-231:before {
	content: "\e1a7";
}
.icon-fontawesome-webfont-232:before {
	content: "\e1a8";
}
.icon-fontawesome-webfont-233:before {
	content: "\e1a9";
}
.icon-fontawesome-webfont-234:before {
	content: "\e1aa";
}
.icon-fontawesome-webfont-235:before {
	content: "\e1ab";
}
.icon-fontawesome-webfont-236:before {
	content: "\e1ac";
}
.icon-fontawesome-webfont-237:before {
	content: "\e1ad";
}
.icon-fontawesome-webfont-238:before {
	content: "\e1ae";
}
.icon-fontawesome-webfont-239:before {
	content: "\e1af";
}
.icon-fontawesome-webfont-240:before {
	content: "\e1b0";
}
.icon-fontawesome-webfont-241:before {
	content: "\e1b1";
}
.icon-fontawesome-webfont-242:before {
	content: "\e1b2";
}
.icon-fontawesome-webfont-243:before {
	content: "\e1b3";
}
.icon-fontawesome-webfont-244:before {
	content: "\e1b4";
}
.icon-fontawesome-webfont-245:before {
	content: "\e1b5";
}
.icon-fontawesome-webfont-246:before {
	content: "\e1b6";
}
.icon-fontawesome-webfont-247:before {
	content: "\e1b7";
}
.icon-fontawesome-webfont-248:before {
	content: "\e1b8";
}
.icon-fontawesome-webfont-249:before {
	content: "\e1b9";
}
.icon-fontawesome-webfont-250:before {
	content: "\e1ba";
}
.icon-fontawesome-webfont-251:before {
	content: "\e1bb";
}
.icon-fontawesome-webfont-252:before {
	content: "\e1bc";
}
.icon-fontawesome-webfont-253:before {
	content: "\e1bd";
}
.icon-fontawesome-webfont-254:before {
	content: "\e1be";
}
.icon-fontawesome-webfont-255:before {
	content: "\e1bf";
}
.icon-fontawesome-webfont-256:before {
	content: "\e1c0";
}
.icon-fontawesome-webfont-257:before {
	content: "\e1c1";
}
.icon-fontawesome-webfont-258:before {
	content: "\e1c2";
}
.icon-fontawesome-webfont-259:before {
	content: "\e1c3";
}
.icon-fontawesome-webfont-260:before {
	content: "\e1c4";
}
.icon-fontawesome-webfont-261:before {
	content: "\e1c5";
}
.icon-fontawesome-webfont-262:before {
	content: "\e1c6";
}
.icon-fontawesome-webfont-263:before {
	content: "\e1c7";
}
.icon-fontawesome-webfont-264:before {
	content: "\e1c8";
}
.icon-fontawesome-webfont-265:before {
	content: "\e1c9";
}
.icon-fontawesome-webfont-266:before {
	content: "\e1ca";
}
.icon-fontawesome-webfont-267:before {
	content: "\e1cb";
}
.icon-fontawesome-webfont-268:before {
	content: "\e1cc";
}
.icon-fontawesome-webfont-269:before {
	content: "\e1cd";
}
.icon-fontawesome-webfont-270:before {
	content: "\e1ce";
}
.icon-fontawesome-webfont-271:before {
	content: "\e1cf";
}
.icon-fontawesome-webfont-272:before {
	content: "\e1d0";
}
.icon-fontawesome-webfont-273:before {
	content: "\e1d1";
}
.icon-fontawesome-webfont-274:before {
	content: "\e1d2";
}
.icon-fontawesome-webfont-275:before {
	content: "\e1d3";
}
.icon-fontawesome-webfont-276:before {
	content: "\e1d4";
}
.icon-fontawesome-webfont-277:before {
	content: "\e1d5";
}
.icon-fontawesome-webfont-278:before {
	content: "\e1d6";
}
.icon-fontawesome-webfont-279:before {
	content: "\e1d7";
}
.icon-fontawesome-webfont-280:before {
	content: "\e1d8";
}
.icon-fontawesome-webfont-281:before {
	content: "\e1d9";
}
.icon-fontawesome-webfont-282:before {
	content: "\e1da";
}
.icon-fontawesome-webfont-283:before {
	content: "\e1db";
}
.icon-fontawesome-webfont-284:before {
	content: "\e1dc";
}
.icon-fontawesome-webfont-285:before {
	content: "\e1dd";
}
.icon-fontawesome-webfont-286:before {
	content: "\e1de";
}
.icon-fontawesome-webfont-287:before {
	content: "\e1df";
}
.icon-fontawesome-webfont-288:before {
	content: "\e1e0";
}
.icon-fontawesome-webfont-289:before {
	content: "\e1e1";
}
.icon-fontawesome-webfont-290:before {
	content: "\e1e2";
}
.icon-fontawesome-webfont-291:before {
	content: "\e1e3";
}
.icon-fontawesome-webfont-292:before {
	content: "\e1e4";
}
.icon-fontawesome-webfont-293:before {
	content: "\e1e5";
}
.icon-fontawesome-webfont-294:before {
	content: "\e1e6";
}
.icon-fontawesome-webfont-295:before {
	content: "\e1e7";
}
.icon-fontawesome-webfont-296:before {
	content: "\e1e8";
}
.icon-fontawesome-webfont-297:before {
	content: "\e1e9";
}
.icon-fontawesome-webfont-298:before {
	content: "\e1ea";
}
.icon-fontawesome-webfont-299:before {
	content: "\e1eb";
}
.icon-fontawesome-webfont-300:before {
	content: "\e1ec";
}
.icon-fontawesome-webfont-301:before {
	content: "\e1ed";
}
.icon-fontawesome-webfont-302:before {
	content: "\e1ee";
}
.icon-fontawesome-webfont-303:before {
	content: "\e1ef";
}
.icon-fontawesome-webfont-304:before {
	content: "\e1f0";
}
.icon-fontawesome-webfont-305:before {
	content: "\e1f1";
}
.icon-fontawesome-webfont-306:before {
	content: "\e1f2";
}
.icon-fontawesome-webfont-307:before {
	content: "\e1f3";
}
.icon-fontawesome-webfont-308:before {
	content: "\e1f4";
}
.icon-fontawesome-webfont-309:before {
	content: "\e1f5";
}
.icon-fontawesome-webfont-310:before {
	content: "\e1f6";
}
.icon-fontawesome-webfont-311:before {
	content: "\e1f7";
}
.icon-fontawesome-webfont-312:before {
	content: "\e1f8";
}
.icon-fontawesome-webfont-313:before {
	content: "\e1f9";
}
.icon-fontawesome-webfont-314:before {
	content: "\e1fa";
}
.icon-fontawesome-webfont-315:before {
	content: "\e1fb";
}
.icon-fontawesome-webfont-316:before {
	content: "\e1fc";
}
.icon-fontawesome-webfont-317:before {
	content: "\e1fd";
}
.icon-fontawesome-webfont-318:before {
	content: "\e1fe";
}
.icon-fontawesome-webfont-319:before {
	content: "\e1ff";
}
.icon-fontawesome-webfont-320:before {
	content: "\e200";
}
.icon-fontawesome-webfont-321:before {
	content: "\e201";
}
.icon-fontawesome-webfont-322:before {
	content: "\e202";
}
.icon-fontawesome-webfont-323:before {
	content: "\e203";
}
.icon-fontawesome-webfont-324:before {
	content: "\e204";
}
.icon-fontawesome-webfont-325:before {
	content: "\e205";
}
.icon-fontawesome-webfont-326:before {
	content: "\e206";
}
.icon-fontawesome-webfont-327:before {
	content: "\e207";
}
.icon-fontawesome-webfont-328:before {
	content: "\e208";
}
.icon-fontawesome-webfont-329:before {
	content: "\e209";
}
.icon-fontawesome-webfont-330:before {
	content: "\e20a";
}
.icon-fontawesome-webfont-331:before {
	content: "\e20b";
}
.icon-fontawesome-webfont-332:before {
	content: "\e20c";
}
.icon-fontawesome-webfont-333:before {
	content: "\e20d";
}
.icon-fontawesome-webfont-334:before {
	content: "\e20e";
}
.icon-fontawesome-webfont-335:before {
	content: "\e20f";
}
.icon-fontawesome-webfont-336:before {
	content: "\e210";
}
.icon-fontawesome-webfont-337:before {
	content: "\e211";
}
.icon-fontawesome-webfont-338:before {
	content: "\e212";
}
.icon-fontawesome-webfont-339:before {
	content: "\e213";
}
.icon-fontawesome-webfont-340:before {
	content: "\e214";
}
.icon-fontawesome-webfont-341:before {
	content: "\e215";
}
.icon-fontawesome-webfont-342:before {
	content: "\e216";
}
.icon-fontawesome-webfont-343:before {
	content: "\e217";
}
.icon-fontawesome-webfont-344:before {
	content: "\e218";
}
.icon-fontawesome-webfont-345:before {
	content: "\e219";
}
.icon-fontawesome-webfont-346:before {
	content: "\e21a";
}
.icon-fontawesome-webfont-347:before {
	content: "\e21b";
}
.icon-fontawesome-webfont-348:before {
	content: "\e21c";
}
.icon-fontawesome-webfont-349:before {
	content: "\e21d";
}
.icon-fontawesome-webfont-350:before {
	content: "\e21e";
}
.icon-fontawesome-webfont-351:before {
	content: "\e21f";
}
.icon-fontawesome-webfont-352:before {
	content: "\e220";
}
.icon-fontawesome-webfont-353:before {
	content: "\e221";
}
.icon-fontawesome-webfont-354:before {
	content: "\e222";
}
.icon-fontawesome-webfont-355:before {
	content: "\e223";
}
.icon-fontawesome-webfont-356:before {
	content: "\e224";
}
.icon-fontawesome-webfont-357:before {
	content: "\e225";
}
.icon-fontawesome-webfont-358:before {
	content: "\e226";
}
.icon-fontawesome-webfont-359:before {
	content: "\e227";
}
